table{
    max-width: 50rem;
    margin: 2rem auto;
    padding: 1rem;
    table-layout: fixed;
    border-spacing: 1rem;
    text-align: right;
}
 p{
    text-align: center;
 }
table thead{
    font-size: 1rem;
    color:black;
}

table tbody{
    font-family:" Roboto Condensed ,sans-serif ";
    font-size: 0.85rem;
    color:black;
}
