form {
    padding: 1rem;
    max-width: 30rem;
    margin: 2rem auto;
    border-radius: 4px;
    background-color: linear-gradient(180deg, #307e6c);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.input-group{
 display: flex;
 justify-content: space-evenly;
 gap: 1.5rem;
}

label{
    display: block;
    margin-bottom:0.25rem;
    font-family:"Robert Condensed,sans-serif";
    font-size: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

input{
    width: 100px;
    padding: 0.5rem;
    border: 1px solid #76c0ae;
    border-radius: 0.25rem;
    color: #1a1f1d;
    background-color: transparent;
    color: black;
    font-size: 1rem;

}
 button{
     width: 100%;
    padding: 0.5rem;
     border: 1px solid #76c0ae;
    border-radius: 0.25rem;
    color: #1a1f1d;
    background-color: #83e6c0;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
 }

button:hover{
    background-color: #aaf1d6;
}